*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Opens Sans',sans-serif;
}

html,body{
    height: 100%;
}
.max-width{
    width: 100%;
    min-height: auto;
}

.bg{
    background: url('../img/fundo.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    }
    .bg2{
        background: url('../img/fundo.jpg') no-repeat;
        background-size: cover;
        width: 100%;
        height: auto;
        }
    .container{
        max-width: 1680px;
        margin:0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 95vh;
    }
    .titulo{
        width: 100%;
        min-height: 250px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        margin-top: 40px;
        text-shadow: 0 0 10px #545454;
        color: #2b2b2b;        
    }
    .line{
        width: 80%;
        height: 2px;
        background: #17203f;
        position: relative;
        top: 40px;
    }
    .texto-titulo{
        position: relative;
        top: -10px;
        z-index: 99;
        margin: 0 auto;
        text-align: center;
        width: 200px;
        font-size: 25px;
        background: #8b634a;
        color: #fff;

    }
    .logo{
        background: url('../img/logo.jpg') no-repeat;
        background-size: contain;
        width: 130px;
        height: 80px;
        position: relative;
        top: 20px;
        z-index:9 ;
      
    }
    .menu{
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2%;
        /* background: #c3bcb7; */

    }
    .chamada{
        display: flex;
        align-items: center;
        margin-top: 120px;

    }
    .esquerda,.direita{
        width: 50%;
        min-height: 600px;
        max-height: 800px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 2%;
    }
    .box{
width: 20%;
min-height: 125px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 0 2%;
transition: 0.5s ease;
    }

   .pagina2{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        min-height: 300px;
    }
    .conteudo{
        display: flex;
        align-items: center;
        justify-content:space-evenly;
        flex-direction: column;
        padding: 0 2%;
        width: 90%;
        /* min-height: 800px; */

    }
    .info{
        display: flex;
    }

    img{
        width: 70%;
        object-fit: contain;
    }
    button{
        padding: 10px 20px;
        background: #1b3b56;
        color: #fff;
        font-size: 14px;
        border: none;
        cursor: pointer;
        transition: 0.8s ease;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    button:hover{
        border: 1px solid #8b634a;
        background: #8b634a;
        color: #fff;
        transform: scale(1.10);

    }

    .texto-pequeno{
font-size: 20px;
    }
    .texto-medio{
        font-size: 42px;
    }
    .texto-grande{
        font-size: 72px;
    }
    .texto-titulo{
        font-size: 20px;
        font-weight: 600;        
    }
    .color-azul{
color: #1b3b56;
    }
    .color-azul-1 {
        color: #5271ff;
            }

.color-cinza-2{
    color: #545454;
}

#voltar-topo{
    position: fixed;
    bottom: 2px;
    right: 10px;
    padding: 5px 10px;
    color: #8b634a;
}
#voltar-topo:hover{
    border: 1px solid #8b634a;
        /* background: #8b634a; */
        color: #fff;
        transform: scale(1.10);
}

body::-webkit-scrollbar{
    width: 12px;    
}
body::-webkit-scrollbar-track{
    background: #fff;
    }
    body::-webkit-scrollbar-thumb{
        background-color: #2b2b2b;
        border-radius: 20px;
        border: 1px solid #fff;

    }

.desktop-menu ul{
    display: flex;

}
.desktop-menu ul li{
    padding: 0 25px;
    list-style-type: none;
}
.desktop-menu ul li a{
    color: #17203f;
    text-shadow: 0 0 5px #848790;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    transition: 0.8s ease;
}
    .desktop-menu ul li a:hover{
        color: #8b634a;
        text-shadow: 0 0 5px #8b634a;
        font-weight:400 ;
        text-decoration: underline ;
    }
/*   inicio do css do menu movel*/

.menu-movel{
    width: 95%;
    height: auto;
    position: absolute;
    top: 5px;
    background: #c3bcb7;
    display: none;



}
.menu-movel i{
    position: absolute;
    right: 25px;
    top: 10px;
    font-size: 23px;
    color: #fff;
    cursor: pointer;
}
.menu-movel ul{
    display: block;
    text-align: center;

}
.menu-movel ul li{
    list-style-type: none;
    padding: 10px 0;
}

.menu-movel ul li a{
    text-decoration: none;
    font-weight: 500;
    color: #17203f;
    text-shadow: 0 0 5px #848790;

}
.menu-movel ul li a:hover{
    color: #8b634a;
    text-shadow: 0 0 5px #8b634a;
    font-weight: 500;
    text-decoration: underline;
}
    header .container{
        flex-direction: column;
        justify-content: flex-start;
    }
header .esquerda{
    flex-direction: column;
    align-items: flex-start;
}
header .esquerda{
    text-align: start;
    font-weight: 400;
    text-shadow: 0 0 5px #848790;
    padding:  0 40px;
} 
header .esquerda p{
    font-family: 'Monteserrat Alternates',sans-serif;
    font-weight: 400px;
    text-align: start;
    letter-spacing: 2px;
    text-shadow: 0 0 5px #848790;
    margin-top: 50px;
    padding: 0 40px;
}
header button{
    margin-top: 60px;
    margin-left: 40px;

}
header .direita{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    transition: 1s ease;
}

header .direita .imagem img{
    width: 100%;
    object-fit: contain;
    margin-bottom: 60px;

}
/* part*/

#part .container{
    flex-direction: column;
    align-items: flex-start;
 
}
#part .titulo h2{
    font-family: 'Monteserrat Alternates',sans-serif;
}

#part .box{
    box-shadow: 0 5px 20px #2b2b2b;
    background: transparent;
    margin-bottom: 120px;
}
#part .box img{
    width: 100%;
}
#part .box h2{
    margin-top: 40px;
    text-align: start;
    font-weight: 300;

}
#part .box p,span{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: start;
    font-weight: 500;
    font-size: 14px;
    font-style: italic;
    font-family: 'Monteserrat Alternates',sans-serif;
}
#part .box .text{
    margin-right: 80px;

}
#part .box .text i{
    position: relative;
    bottom: 35px;
    left: 180px;
    font-size: 20px;

}

/* Serviços*/

#servicos .container input[type=radio]{
    display: none;


}
#servicos .container .cards{
    position:relative ;
    width: 100%;
    height: 100vh;
}
#servicos .container .card{
    position: absolute;
    width: 40%;
    height: 80%;
    top: -120px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0 0 10px #848790;
    transition: 0.4s ease;
    cursor: pointer;


}
#servicos .container .card img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}
#servicos .container .card button{
    position: absolute;
    bottom: 10px;
    z-index:9 ;
    text-transform: uppercase;
    cursor: pointer;

}
#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2{
    transform: translatex(-100%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}
#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1{
    transform: translatex(100%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}
#item-1:checked ~.cards #song-1,
#item-2:checked ~.cards #song-2,
#item-3:checked ~.cards #song-3{
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
}


/* Contato*/

#contato .container{
    flex-direction: column;
height: 90vh;

}
#contato .container .titulo{
    min-height: 0;
    margin-bottom: 50px;
}
#contato .conteudo{
    flex-direction:column;
    height: 100vh;    
}


#contato .container .esquerda1{
    box-shadow: 0 0 15px #848790;
    margin: 2%;
    
}
#contato .container .esquerda1 .box{
    width: 100%;
    height: 60vh;
    background: url('../img/fundo.jpg') no-repeat;


}
#contato .conteudo{
    flex-direction: row;
}

        #contato .container .esquerda1 .box h1{
            margin-bottom: 20px;
            margin-top: 15px;
            color: #1b3b56;  
        
        }
        #contato .container .esquerda1 .box form{
            width: 80%;
            height: auto;
            display: flex;
            flex-direction: column;
        }
        #contato .container .esquerda1 .box form  input{
            padding: 10px;
            margin-top: 25px;
            font-size:16px;
            border: none;
            outline: none;
        }

   
    #contato .container .esquerda1 .box .social{
        color: #1b3b56;
        font-size: 32px;


    }
    #contato .container .esquerda1 .box .social i{
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
        transition: 0.3s ease;

    }
        #contato .container .esquerda1 .box .social i:hover{
            color: #8b634a;

        }
        #contato .container .esquerda1 .box form  input[type=submit]{
            background: #1b3b56;
            color: #fff;
            cursor: pointer;
            transition:  0.3s ease;
        }
        #contato .container .esquerda1 .box form  input[type=submit]:hover{
            background:#8b634a
        }
        
      
          
        
        #contato .container .direita1 .box{
            box-shadow: 0 0 15px #c3bcb7;
            margin: 2%;
          
            
        }
        
        #contato .container .direita1 .box{
            width: 90%;
            height: 60vh;          
            background: url('../img/fundo.jpg') no-repeat;
                  


        }
        #contato .container .direita1 .box h1{
            margin-bottom: 20px;
            margin-top: 20px;
            color: #1b3b56;
        }
        #contato .container .direita1 .box .icones{
            width: 150px;
            height: 300px;
            display: flex;
            flex-direction: column;

        }
        #contato .container .direita1 .box .icones i{
            padding: 20px 0;
            font-size: 32px;
            color: #1b3b56;
        }

            #contato .container .direita1 .box .texto p{
          padding: 25px 0;
          font-size: 18px;
          font-weight: 600;
          color: #1b3b56;
        }

        /*footer*/
footer .container{
    width: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: url('../img/fundo.jpg') no-repeat;
  

}
footer .container .img img{
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: left;




}
footer .container p{
    font-weight: 200;   
    color: #1b3b56;
    

}

/* Reponsividade*/

@media screen and (max-width:922px) {
    
    .texto-pequeno{
        font-size: 20px;
            }
            .texto-medio{
                font-size: 42px;
            }
            .texto-grande{
                font-size: 72px;
            }
}
@media screen and (max-width:740px){
    header .direita .imagem{
        width: 100%;
    }
    .menu-movel{
        display: block;

    }


    .desktop-menu ul{
        display: none;
    }
    .pagina2{
        justify-content: space-between;
        flex-direction: column;
        min-height: 600px;
    }
    .box{
        width: 60%;
    }
    #part .box img{
        width: 90%;
        margin-top:20px ;
    }
    footer .container {
        flex-direction: column;
        height: 150px;
    }
    footer .container p{
        margin-top: 20px;
        
    }

}
@media screen and (max-width:648px){

    .esquerda{
        width: 100%;
        min-height: auto;
        padding: 0 2%;
       

    }
    .direita{
        width: 100%;
        min-height: auto;
        padding: 0 2%;
        margin-top: -60px;
    }
.logo{
    width: 110px;
    top: 10px;
    left: 5px;
}
img{
    width: 90%;
}
.chamada{
    flex-direction: column;
    justify-content: flex-start;
}
header .esquerda{
    margin-top: -100px;
}
header .direita .imagem {
width: 60%;
}
#servicos .container .card{
    width: 80%;
    height: auto;
    top: -20px;
    
}
#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2{
    transform: translatex(0) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}
#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1{
    transform: translatex(25%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}
contato .content{
    flex-direction: column;
}
#contact .conteudo.esquerda1,
#contact .conteudo.direita1{
    height: 30vh;
}
#contato .container .esquerda1 .box,
#contato .container .direita1 .box{
    width: 80%;
    height: 35vh;
}
#contato .container .esquerda1 .box h1{
    margin-bottom: 15px;
    font-size: 15px;
    margin-top: 18px;
}
#contato .container .esquerda1 .box form{
    width: 80%;
}
contato .container.esquerda1 .box form input[type=text],
contato .container.esquerda1 .box form input[type=email],
contato .container.esquerda1 .box form input[type=submit]{
    margin-top: 10px;
    font-size: 12px;
}
contato .container.esquerda1 .box .social{
    margin-bottom: 25px;
}
contato .container.esquerda1 .box i{
    font-size: 22px;
}
#contato .container .direita1 .box{
    justify-content: flex-start;
}
#contato .container .direita1 .box h1{
    font-size: 18px;

}
#contato .container .direita1 .box icones{
    width: 100px;
    height: 100px;
}
#contato .container .direita1 .box icones i{
    font-size: 22px;
}
#contato .container .direita1 .box .texto{
    height: 150px;

}
#contato .container .direita1 .box .texto p{
    font-size: 16px;
}

}

@media screen and (max-width:428px){
header .direita .imagem{
    width: 80%;
}
}

